.ListContainer{
      margin-top: 50px;
      display: grid;
      grid-template-columns: repeat(auto-fit,minmax(240px,1fr));
     
}

.SortBtn{
      margin-top: 10px;
      margin-left: 10px;
      width: 150px;
      font-weight: bold;
      background-color: aliceblue;
      color: black;
      padding: 2px;
      border-radius: 10px;    
      height: 30px;
}