body{
    user-select: none;
    overflow-x: hidden;
}



.light{
   color: hsl(194, 13%, 20%);
   background-color:rgb(172, 123, 92);
   transition :0.3s ease-in-out
}

.dark{
    color: #DCD7C9; 
    background-color: #2C3639;
    transition :0.3s ease-in-out
}

span{
    position: absolute;
    right: 15px;
    top: 17px;
    font-size: 20px;
    transition: 0.3s ease-in-out;
}

@media (max-width: 525px) {

    span{
        position: absolute;
        right: 38px;
        top: 15px;
        
    }

}









  
           
     

 




  




